fastapi==0.68.2
uvicorn==0.15.0
gunicorn==20.1.0
databases[postgresql]
SpeechRecognition==3.8.1
pydub==0.25.1
asyncpg==0.27.0
deepgram-sdk==2.4.0
aiohttp==3.8.4
openai==0.27.4
python-multipart
databases==0.7.0
supabase==1.0.3
passlib==1.7.4
python-dotenv
pydantic==1.10.7
email-validator
PyJWT==2.6.0
pinecone_client===2.2.1